<div class="stats">
  <div class="container ">
    <div class="row justify-content-center h-50">
      <div class="col-md-2 stat-col h-100 d-table">
          <mdb-icon class=" mx-2 red-text" size="3x"  fas icon="users"></mdb-icon>
          <h1>5780</h1>
          <p>Happy Customers</p>
      </div>
      <div class="col-md-2 stat-col">
          <mdb-icon class="mx-2 red-text" size="3x"  far icon="thumbs-up"></mdb-icon>
          <h1>4820</h1>
          <p>Project Complete</p>
      </div>
      <div class="col-md-2 stat-col">
          <mdb-icon class="mx-2 red-text" size="3x"  fas icon="building"></mdb-icon>
          <h1>1710</h1>
          <p>World Wide Branch</p>
      </div>
      <div class="col-md-2 stat-col">
          <mdb-icon class="mx-2 red-text" size="3x" fas icon="laptop"></mdb-icon>
          <h1>2738</h1>
          <p>Digital Media</p>
      </div>
    </div>
  </div>

</div>
