<div class="tall-footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3 contact-info">
        <div class="row justify-content-center icon-div">
            <i class="fas fa-map-marker-alt icon fa-2x"></i>
        </div>
       <div class="row justify-content-center">
          <p class="main-para">1010 Avenue xyz</p>
       </div>


      </div>
      <div class="col-md-3 contact-info">
        <div class="row justify-content-center icon-div">
            <i class="fas fa-phone fa-2x icon"></i>
        </div>
        <div class="row justify-content-center">
            <p class="main-para">989-554-6987</p>
        </div>


      </div>
      <div class="col-md-3 contact-info">
       <div class="row justify-content-center icon-div">
          <i class="far fa-envelope-open fa-2x icon"></i>
       </div>
       <div class="row justify-content-center">
          <p class="main-para">mail@example.com</p>
       </div>

      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <hr>
      </div>
    </div>




  </div>
  <div class="container-fluid">
      <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="col-md-6 align-self-center">

                <div class="col-md-5">
                    <h2  class="sub-heading">J & W</h2>
                    <hr>
                </div>
                <p class="sub-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, ratione. Temporibus,
                   corporis, adipisci placeat fugiat laudantium corrupti voluptas
                   sit totam tenetur nisi iusto.
                  </p>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-2">
        
                    <div class="icon-box">
                      <i class="fab fa-facebook"></i>
                     </div>
        
        
              </div>
              <div class="col-md-2">
        
                    <div class="icon-box">
                        <a href="#"> <i class="fab fa-twitter"></i></a>
        
                </div>
        
                </div>
                <div class="col-md-2">
        
                      <div class="icon-box">
                          <a href="#"> <i class="fab fa-instagram"></i></a>
                      </div>
        
        
                  </div>
            </div>




          </div>
          <div class="col-md-6">
            <div class="col-md-5">
                <h2 class="sub-heading">Useful Links</h2>

                    <hr>


            </div>

            <div class="col-md-5">
                <ul class="list-group">
                    <a href=""><li class="list-group-item">Home</li></a>
                    <a href=""><li class="list-group-item">About Us</li></a>
                    <a href=""><li class="list-group-item">Our Services</li></a>
                    <a href=""><li class="list-group-item">Contact Us</li></a>

                   </ul>
            </div>


            </div>
        </div>
  </div>
 
</div>
