<div class="tall-footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-2">
       <i class="fas fa-map-marker-alt icon fa-2x"></i>

        <p class="main-para">1010 Avenue xyz</p>
      </div>
      <div class="col-md-2">
         <i class="fas fa-phone fa-2x icon"></i>

        <p class="main-para">989-554-6987</p>
      </div>
      <div class="col-md-2">
        <i class="far fa-envelope-open fa-2x icon"></i>

         <p class="main-para">mail@example.com</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <hr>
      </div>
    </div>
  </div>
</div>
