<div class="owner-message" id="ceomessage">
  <div class="container">
    <div class="row justify-content-center ">
      <div class="col-md-7 msg ">

          <p class="main-para"><span class="icos"> <mdb-icon size="2x" fas icon="quote-left red-text"></mdb-icon></span>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Consectetur assumenda in sapiente sunt natus? Mollitia
             laborum illo magnam vero officia.<span class="icos"><mdb-icon size="2x" fas icon="quote-right ml-auto red-text"></mdb-icon></span></p>



      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3">
        <img src="assets/images/22.jpg" class="ceo-pic" alt="person">
        <h4 class="main-heading">Rehmat Karim Baig</h4>
        <p class="main-para">CEO</p>
      </div>
    </div>
  </div>
</div>
