
.profile-pic{
  height: 30vh;
  width: 30vh;
  margin-top: 6%;
  margin-bottom: 4%;
  border-radius: 50%;
  margin-left: 50%;
}
.main-heading{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  font-size: 40px;
}
hr{
  width: 100px;
  border: 1px solid  #ff4d4d;
  margin-left: 0;
  padding-left: 0;


}
.main-para{
  font-family: sans-serif;

}
.contacts{
  margin-bottom: 4%;
  margin-top: 6%;
}
.fb-icon{
  color: red;
  font-size: 30px;
  font-weight: solid;
}
.insta-icon{
  color: red;
  font-size: 30px;
  font-weight: solid;
}
.google-icon{
  color: red;
  font-size: 30px;
  font-weight: solid;

}
.icons{
  padding: 25px;
}


@media (max-width: 576px) {
  .main-heading{
    text-align: center;
    padding-top: 50px;
  }
  hr{
    text-align: center;
    margin: 0 25% 0 25%;
    width: 50%;
    margin-bottom: 6%;
  }
  .main-para{
    text-align: center;
  }
  .profile-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

}

