<div class="aboutus">
  <div class="container">
    <div class="row  align-items-center">
      <div class="col-md-6">
        <h3 class="main-heading">About us</h3>
        <hr >
        <p class="main-para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
           Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
           et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
           pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
            fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
           venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>
      </div>
      <div class="col-md-4 ">
        <img src="assets/images/person.jpg" alt="avtar" class="profile-pic">
      </div>
    </div>
    <div class="row contacts justify-content-center">
      <div class="col-xs-4 icons">
          <a href="#"><mdb-icon fab icon="facebook-f" class="fb-icon ss"></mdb-icon></a>
     </div>
     <div class="col-xs-4 icons">
        <a href="#"><mdb-icon fab icon="instagram" class="insta-icon ss"></mdb-icon></a>
   </div>
   <div class="col-xs-4 icons">
      <a href="#"><mdb-icon fab icon="google" class="google-icon ss"></mdb-icon></a>
    </div>
    </div>
  </div>
</div>
