<header class="h-100 head-top">
    <mdb-navbar SideClass="navbar  navbar-expand-lg navbar-dark blue scrolling-navbar intro-fixed-nav" [containerInside]="false">

      <links>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
            <a href="#"><i class="fas fa-map-marker-alt icon"></i>Address</a>

          </li>
          <li class="nav-item waves-light " mdbWavesEffect>
             <a href="#"> <i class="far fa-envelope-open icon"></i>abc@xyz.com</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
             <a href="#"> <i class="fas fa-phone icon"></i>+92-111-1111</a>
          </li>
        </ul>
      </links>
    </mdb-navbar>


    <app-main-nav></app-main-nav>

    <!-- /.Main -->
</header>
<app-home></app-home>

