<header class="h-100 head-top"  fxShow fxHide.lt-sm="true">

  <!-- <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue scrolling-navbar intro-fixed-nav " [containerInside]="false">

      <links>
        <ul class="navbar-nav nav mx-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
            <a href="#"><i class="fas fa-map-marker-alt icon"></i>Address</a>

          </li>
          <li class="nav-item waves-light " mdbWavesEffect>
             <a href="#"> <i class="far fa-envelope-open icon"></i>abc@xyz.com</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
             <a href="#"> <i class="fas fa-phone icon"></i>+92-111-1111</a>
          </li>
        </ul>
      </links>
    </mdb-navbar> -->
  <mat-toolbar>
    <mat-toolbar-row class="navbar navbar-expand-lg navbar-dark blue scrolling-navbar intro-fixed-nav">
      <!-- <mat-toolbar-row fxShow fxHide.lt-md="true"> -->

      <span class="brand-links mx-auto">
        <a href="https://www.google.com/maps/place/216+Street+23,+F-11%2F2+F+11%2F2+F-11,+Islamabad,+Islamabad+Capital+Territory/@33.6838486,72.9748814,17z/data=!3m1!4b1!4m5!3m4!1s0x38dfbdeec82702d3:0xaa5a98246fce04a9!8m2!3d33.6838486!4d72.9770701"><i class="fas fa-map-marker-alt icon"></i>House # 216 Street # 23, Sector F-11, Islamabad, Pakistan</a>
        <a href = "mailto: info@jwgroup.com.pk"> <i class="far fa-envelope-open icon"></i>info@jwgroup.com.pk</a>
        <a href="tel: +923007082592"> <i class="fas fa-phone icon"></i>+923007082592</a>
        <!-- <ul class="navbar-nav nav mx-auto">
                  <li class="nav-item active waves-light" mdbWavesEffect>


                  </li>
                  <li class="nav-item waves-light " mdbWavesEffect>

                  </li>
                  <li class="nav-item waves-light" mdbWavesEffect>

                  </li>
                </ul> -->
      </span>

    </mat-toolbar-row>
    <!-- <mat-toolbar-row> -->
    <!-- <span class="brand-name" fxFlex="none" fxShow fxHide.lt-md="true">
            <!-- <a class="logo navbar-brand" href="#"><img src="assets/images/logo.jpg" alt="logo" class="logo"></a> -->
    <!-- </span>  -->

    <!-- <span class="brand-name mx-auto" fxHide fxShow.lt-md="true">

              <a class="logo navbar-brand" href="#"><img src="assets/images/logo.jpg" alt="logo" class="logo"></a>
            </span> -->
    <!-- <span class="example-fill-remaining-space"></span> -->
    <!-- <span class="logged-user ml-auto">
              <ul class="navbar-nav ml-auto" id = "navbar-scrollspy" >
                <li class="nav-item waves-light home"  [ngClass]="{'active': selectedItem === 'home'}" (click)="selectedItem = 'home'" mdbWavesEffect>
                    <a class="nav-link" href="#home"  (click) = "selectedItem = 'home'">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item waves-light" [ngClass]="{'active': selectedItem === 'aboutus'}" (click)="selectedItem = 'aboutus'" mdbWavesEffect>
                    <a   class="nav-link"  href="#aboutus"   (click) = "selectedItem = 'aboutus'">About Us</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" href="#ourservices" >Our Services</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link">Contact Us</a>
                </li>
            </ul>
            </span> -->
    <!-- </mat-toolbar-row> -->


  </mat-toolbar>



</header>
<app-main-nav></app-main-nav>

<app-home></app-home>
<app-about-us></app-about-us>
<app-services></app-services>
<!-- <app-stats></app-stats> -->
<app-projects></app-projects>
<app-owner-message></app-owner-message>
<app-tall-footer></app-tall-footer>
<app-small-footer></app-small-footer>
