<!-- <header class="h-100 main-nav"> -->

<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light white scrolling-navbar intro-fixed-nav sticky-top"
  [containerInside]="false">
  <mdb-navbar-brand>
    <a class="logo navbar-brand" href="#"><img src="assets/images/logo.jpg" alt="logo" class="logo"></a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto" id="navbar-scrollspy">
      <li class="nav-item waves-light home" mdbWavesEffect>
        <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" href="#aboutus">What We Do</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" href="#ourservices">Our Services</a>
      </li>
       <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" href="#stats">Stats</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" href="#ourprojects">Our Projects</a>
      </li>

      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" href="#ceomessage">CEO Message</a>
      </li>

      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" href="#contactus">Contact Us</a>
      </li>
    </ul>
  </links>
</mdb-navbar>

<!-- </header> -->
