hr{
  width: 100px;
  border: 1px solid  #ff4d4d;
  margin-left: 0;
  padding-left: 0;


}
.main-heading{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 50px;

  font-size: 40px;
}
.main-para{
  font-family: sans-serif;
  color: grey;

}
.ourservices{
  background-color:#F8F9FA;
}
.icon{
  padding-top: 20px;
  padding-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.services-card{
  margin: 2%;
}
a{
  text-align: center;
}
.sub-heading{
  padding: 3px 3px;
  font-family: sans-serif;
}
.sub-para{
  padding: 20px 20px;
  padding-bottom: 50px;
  font-family: Verdana;

}
.see-but{
  color: #ff4d4d;
}
.services-card:hover{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../../assets/images/1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
  background-attachment: fixed;
  position: relative;
  /* padding: 10px; */
  color: #fff;
}
.see-button{
  position: absolute;
  bottom: 10px;
  right: 5px;
}
.modal-header{
  background-color: #5e97f2 !important;

}

