



<div class="card card-image" id="home" style="background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../../assets/images/bg.jpg');">
  <div class="text-white text-center py-5 px-4 my-5">
    <div>
      <h1 class="card-title h1-responsive pt-3 mb-5 font-bold main-heading"><strong>Together We Trade to Make this World a <span class="primary-text">Better</span> Place </strong></h1>
      <p class="mx-5 mb-5 main-para">Our goal is to develop bilateral business trade relation more concrete and convenient ever before. Together we can build to achieve this goal
      </p>

    </div>
  </div>
</div>
