

.card-image{
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  position: relative;

}
.main-heading{
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  font-size: 70px;
  padding-top:8px;
  margin-top: 5%;

}
.primary-text{
  color:red;

}
.main-para{
  color: gainsboro;
  font-size: 15px;

}
